*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151215;    
}
.container{
    position: relative;
    width: 100rem; 
    height: 100rem;
}
.box{
    position: relative;
    width: 100rem; 
    height: 100rem;
    background: #151215;
    overflow: hidden;    
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;    
}
.box::before{
    content: "";
    position: absolute;   
    background: linear-gradient(365deg, #00ccff, #d400d4);
        /* background: conic-gradient(
            #fd004c,
            #fe9000,
            #fff020, 
            #3edf4b, 
            #3363ff,
            #b102b7,
            #fd004c
    ); */
    animation: animated-border 6s linear infinite;
}
@keyframes animated-border{
    0%{
        transform: rotate(0deg);
        inset: -10px 0px;
    }
    25%{
        transform: rotate(360deg);
        inset: 0px 80px;
    }
    50%{
        transform: rotate(180deg);
        inset: 0px 160px;
    }
    75%{
        transform: rotate(360deg);
        inset: 0px 80px; 
    }
    100%{
        transform: rotate(0deg);
        inset: -10px 0px;
    }
}
.box::after{
    content: "";
    position: absolute;
    inset: 5rem;
    background: #151215;
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute; 
    inset: 4.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 50%;
    background: transparent;
    border: 5rem solid #151215;
    background-size: cover;
    z-index: 3; 
    overflow: hidden;
} 
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 87.5rem;
    height: 87.5rem;
    object-fit: cover;
    animation: animated-image 0.001s linear infinite;
}

@keyframes animated-image{
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }
    50% {
        margin-left: -15px;
    }
    75% {
        margin-left: 0;
    }
    100% {
        margin-left: 0;

    }
}
    
